body {
  padding-top: 50px;
  background: #252830
}
.hr-dark {
  background-color: #636c72;
}

.title-text {
  font-size: 2rem;
}

.quote-view-table th {
 border-top: 0;
}

.quote-view-table thead > tr > th {
  border-bottom-width: 1px;
  
}

.quote-result-table thead > tr > th {
  border-bottom-color: #636c72;
  border-bottom-width: 1px;
  
}
.btn-group-vertical {
  height: 100%;
}

.form-control-dark:disabled, .form-control-dark:focus, .form-control-dark:active, .form-control-dark, .form-control-dark[readonly] {

  background: #636c72;
}
.login-form, .register-form {
  width: 100%;
}

.text-white {
  color: #ccc;
}

.quote-result-table-td{
  color:#ccc;
  cursor: pointer
}

.quote-result-table-th{
  color: #fff;
  font-weight: normal;
}

.borderless td, .borderless th {
    border: none;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.02);
}
.table-hover tbody tr:hover {
    background-color: rgba(255,255,255, 0.05);
}

.form-control-dark::-webkit-input-placeholder { color: #ccc; }
.form-control-dark:-moz-placeholder { color: #ccc; }
.form-control-dark::-moz-placeholder { color: #ccc; }
.form-control-dark:-ms-input-placeholder { color: #ccc; }

.nav-pills > li > a:link, .nav-pills  >li>a:visited {
  color: #ccc;
}

.nav-pills > li > a:focus, .nav-pills  >li>a:hover {
  color: #fff;
}
.sidebar {
  position: absolute;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}